#companylogo {
    color:  #ff5722;
    letter-spacing: .5rem;
    font-weight: bolder;
    font-size: xx-large;
  }
  .imgLogo{
    width: 7rem;
    height: 4rem;
  }
  
  .btn {
    background-color:  #ff5722;
    color: rgb(5, 7, 9);
    font-weight: 600;
    transition: 1s;
  }
  
  .btn:hover {
    background-color: rgb(254, 125, 3);
  }
  
  a {
    color: black;
    font-weight: 500;
    transition: 0.3s;
  }
  
 
  .nav_names ,li{
  
    justify-content: center;
    min-width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .log_out{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  nav{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .nav-item .nav-link .active{
    color: #ff5722;
    font-size: large;
    background-color: rgb(255, 145, 0);
    border-radius: 8px;
  }

  .nav-link.active {
    font-size: large;
    background-color: rgba(255, 145, 0, 0.939);
    border-radius: 5px; 
   
    /* Change the color of the active link */
     /* Make the active link bold */
    /* Add any other styles you want for the active link */
  }