<body>
    <div #paymentRef style="display: flex;flex-direction: column-reverse; align-items: center; justify-content: center;">
        <div class="alert alert-info" role="alert" style="width: 100%; height: 10rem;">
          <b style="text-align: center;"> Card Details </b>
          <p></p>
          <p><b>Card number:</b> 4032038906334259</p>
          <p><b>Expiry date:</b>  01/2025</p>
          <p><b>CVC code:</b>  434</p>
        </div>
         
            <button class="btn" style="display: flex;align-items: center; justify-content: center;">Cancle</button>
         <p>Total amount to pay: <b>{{totalAmount |currency:'INR'}}</b></p>
    </div>
    
</body>